@model  IEnumerable<VideoStore.ViewModels.AMLViewModel>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@foreach (var item in Model)
{
<div class="form-group">
    <label>Email</label>
    <input class="form-control" name="StockAmount" type="text" value="@item.Email" readonly>  
</div>
<div class="form-group">
    <label>Role Name</label>
    <input class="form-control"  name="StockAmount" type="text" value="@item.RoleName" readonly>  
</div>

<div class="form-group">
    <label>User Id</label>
    <input class="form-control"  name="StockAmount" type="text" value="@item.UserId" readonly>
</div>
}


@Html.ActionLink("Go Back To Account Management Index ", "Index", "AccountManagement", new { @class = "btn btn-primary" })