@model  IEnumerable<VideoStore.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Email</td>
                <td>@item.IDNumber</td>
            </tr>

        }
    </tbody>

</table>

@section scripts
{
    <script>

    $(document).ready( function () {
    $('#myTable').DataTable();
     } );

    </script>

}