@model  IEnumerable<VideoStore.ViewModels.AMLViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Accounts</h2>

<p>
    @Html.ActionLink("New User", "New", "AccountManagement", null, new { @class = "btn btn-primary" })
</p>
<table id="myTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>ID Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Email</td>
                <td>@item.UserName</td>
                <td>@item.RoleName</td>
            </tr>

        }
    </tbody>

</table>

@section scripts
{
    <script>

    $(document).ready( function () {
    $('#myTable').DataTable();
     } );

    </script>

}