@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Blockbuster stores follows a strategy of emphasizing access to the most popular new releases, obtaining early access and stocking many copies of the new-release titles, with a relatively smaller depth of selection than traditional independent video stores.
</p>
    Much of the shelf space in the stores was devoted to popular titles that were placed relatively sparsely on the shelves with the entire front cover visible, so customers could browse casually and quickly, rather than having a more diverse selection with fewer copies of each title.
    In contrast, independent video rental shops typically tended to stock a broad selection of older titles that were placed densely on shelves with only the spines visible as in a traditional book library.
    Blockbuster sometimes contracted with studios to obtain earlier access to new titles than other companies could achieve.
