 @model VideoStore.Models.Customer
  
  @{
      ViewBag.Title = Model.Name;
      Layout = "~/Views/Shared/_Layout.cshtml";
      }
  
  <h3>Member Name:@Model.Name</h3>
  <h3>Membership Discount Rare: @Model.MembershipType.DiscountRate%</h3>
    @if(@Model.BirthDate != null)

    {
        
        <h3>Birthday:@Model.BirthDate.Value.ToShortDateString()</h3>
   }
