@model Vidly.Models.Movie
@{
    ViewBag.Title = "AddNewMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Movie</h2>

@using (Html.BeginForm("AddNewMovie", "Movies"))
{
<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new {@class="form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Genre)
    @Html.TextBoxFor(m => m.Genre, new { @class = "form-control" })
</div>
<button type="submit" class="btn btn-primary">Save</button>

}@* End Of Form.*@