 @model IEnumerable<Vidly.Models.Movie>
  
  @{
      ViewBag.Title = "Movies";
      Layout = "~/Views/Shared/_Layout.cshtml";
      }
  
  <h2>Movies</h2>
  <table class="table table-bordered table-hover">
     
    <thead>
         
        <tr>
             
            <th>Movie</th>
             
        </tr>
         
    </thead>
     
    <tbody>

        @if (!Model.Any())
        {
            <h3> We don't have any customers yet.</h3>
        }
        else
        {
            foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id}, null)</td>
                </tr>
                <tr>
                    <td> @movie.Genre </td>
                </tr>
            }
        }
         
    </tbody>
     
</table>