@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("Add Movie", "AddNewMovie", "Movies",new {@class="btn btn-primary" })  @*How to make a button with action link*@
    @if (!Model.Any())
    {
        <p> We don't have any movies yet.</p>
    }
    else
    {
        <table class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>Movie Name</th>
                    <th>Movie Genre</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                        <td> @movie.Genre </td>
                    </tr>
                }
            </tbody>
        </table>
    }


