

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

select {
   min-height:30px;
}

.modal {
    top: 50%;

    right:50%;
    position: absolute;
  
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0px;
}

a {
color: rgba(255, 255, 255, 0.5) ;   
  text-decoration: none;
}

a:hover, a:focus {
    color: rgba(255, 255, 255, 0.75) ;
    text-decoration: none;
}